# تجاهل ملفات البيئة الوهمية الموجودة في جذرك
/include/
/lib/
/Scripts/
pyvenv.cfg

# تجاهل ملفات الإعدادات الخاصة بـ VS Code
.vscode/

# تجاهل قاعدة البيانات (نحن نرفع الكود وليس البيانات المحلية)
*.sqlite3

# تجاهل ملفات الكاش الخاصة بباثون
**/__pycache__/
*.pyc