# Virtual Environment
Lib/
Scripts/
Include/
pyvenv.cfg

# IDEs
.vscode/
.idea/

# Postman & Tests
.postman/
postman/
ai_export_test_*/
risk_model_test_*.json

# App Outputs
exports/

# Python & Django
__pycache__/
*.pyc
db.sqlite3
.env

# OS files
.DS_Store
Thumbs.db

*.sqlite3
*.sqlite3-journal
# Local project artifacts
/docs/
/src/db.sqlite3
/src/dp.sqlite3
/src/backup_data.json
